version: "3.9"

services:
  auth-service:
    build: ./auth-service
    ports:
      - "5000:5000"
    volumes:
      - saas-data:/data
    depends_on:
      - control-panel
      - user-app

  control-panel:
    build: ./control-panel
    ports:
      - "5001:5001"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - saas-data:/data
    depends_on:
      - user-app

  user-app:
    build: ./user-app
    image: user-app
    volumes:
      - saas-data:/data

volumes:
  saas-data:
