version: "3.9"

services:
  auth-service:
    build: ./auth-service
    ports:
      - "5000:5000"
    depends_on:
      - control-panel

  control-panel:
    build: ./control-panel
    ports:
      - "5001:5001"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
