body {
  margin:0;
  font-family:Segoe UI, Arial;
  background:#f4f6f8;
}
.card {
  max-width:520px;
  margin:100px auto;
  background:white;
  padding:30px;
  border-radius:10px;
  text-align:center;
  box-shadow:0 6px 16px rgba(0,0,0,.08);
}
