<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Admin Login | Control Panel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="card card-outline card-warning">
    <div class="card-header text-center">
      <b>Admin</b> Control Panel
    </div>
    <div class="card-body">
      <form method="post">
        <input class="form-control mb-3" placeholder="Admin">
        <input type="password" class="form-control mb-3" placeholder="Password">
        <button class="btn btn-warning btn-block">Login</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
