{% extends "base.html" %}

{% block content %}
<h2>Register</h2>

<form method="post">
    {{ form.hidden_tag() }}

    <p>
        <label>Username</label><br>
        {{ form.username(size=32) }}
    </p>

    <p>
        <label>Email</label><br>
        {{ form.email(size=32) }}
    </p>

    <p>
        <label>Password</label><br>
        {{ form.password(size=32) }}
    </p>

    <p>
        <label>Repeat Password</label><br>
        {{ form.password2(size=32) }}
    </p>

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
